$fuentePrincipal : "Montserrat", sans-serif;

// Colores
$claro : #D3F6DB;
$oscuro : #243010;
$azul : #151E3F;
$rosa : #9f6844;
$verde : #96E072;
$morado : #564787;
$amarillo: #1985A1;
$grisClaro: #e1e1e1;

//  Madia Queries

$telefono : 489px;
$tablet : 768px;
$desktop : 1200px;
$desktopXL: 1400px;

