@use "base/variables" as v;
@use "base/mixins" as m;

.galeria {
    @include m.contenedor;
     &-imagenes {
         @include m.grid(1, 2rem);

         @include m.telefono {
            @include m.grid(2, 2rem)
         }
         @include m.tablet {
            @include m.grid(3, 2rem)
         }
         @include m.desktop {
            @include m.grid(4, 2rem)
      }
      img {
        object-fit: cover;
        height: 20rem;
        cursor: pointer;
        transition: transform .2s ease-in-out;
         &:hover {
            transform: scale(1.2);
         }
      }
}}
.modal {
    position: fixed;
    background-color: rgba(v.$oscuro, 0.8); 
    inset: 0;
    display: grid;  
    place-items: center;
    
    animation:   2s fadeIn 1; // Se llama la animacion con el nombre del Keyframe
    &- img {
        max-width: 100%;  
        max-height: 100%;  
         
        
    }
}

 
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
      50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

